@media screen and (min-width: 1200px) {
  .container,
  .small-container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* ---------------- HEADER --------------- */

  .header {
    padding-bottom: 28px;
  }

  /* ---------------- SITE NAV ---------------- */

  .header-logo {
    margin-right: 76px;
  }

  .list-nav {
    display: flex;
  }

  .current::after {
    bottom: -32px;
  }

  /* ---------------- CONTACTS ---------------- */

  .item-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts {
    flex-direction: row;
    gap: 40px;
  }

  /* ---------------- SECTION ---------------- */

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  /* ---------------- HERO ---------------- */

  .hero {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ----------------- ABOUT ----------------- */

  .about {
    max-width: 1440px;
    padding-bottom: 0px;
  }

  .about-item {
    width: calc((100% - 72px) / 4);
  }

  .about-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
  }
  /* ----------------- WORKS ----------------- */

  .works {
    display: block;
  }

  /* ----------------- TEAM ------------------ */
  .item-team {
    width: calc((100% - 72px) / 4);
  }
  /* --------------- CUSTOMERS --------------- */

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  /* ---------------- FILTER ----------------- */

  /* ---------------- PROJECT----------------- */

  /* ---------------- FOOTER ----------------- */

  .site-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    width: auto;
    flex-direction: row;
    align-items: baseline;
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer-form {
    margin-left: auto;
  }

  .list-footer-soc {
    column-gap: 16px;
  }

  /* --------------- BACKDROP --------------- */
}
