@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* ---------------- HEADER --------------- */

  /* ---------------- SITE NAV ---------------- */

  /* ---------------- CONTACTS ---------------- */

  /* ---------------- SECTION ---------------- */
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .title {
    font-size: 36px;
    line-height: 1.11;
    text-align: left;
  }
  /* ---------------- HERO ---------------- */
  .hero {
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tab-hero.jpg);
    padding: 112px 0 108px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  .container-hero {
    max-width: 496px;
    margin: auto;
  }
  /* ----------------- ABOUT ----------------- */

  .about {
    max-width: 768px;
  }

  .about-item {
    max-width: 356px;
  }

  /* ----------------- WORKS ----------------- */

  /* ----------------- TEAM ------------------ */

  .team-list {
    row-gap: 64px;
  }
  /* --------------- CUSTOMERS --------------- */

  .customers-item {
    width: 168px;
  }

  /* ---------------- FILTER ----------------- */

  /* ---------------- PROJECT----------------- */

  /* ---------------- FOOTER ----------------- */

  .footer-container {
    width: 586px;
    flex-direction: row;
    gap: 72px 24px;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .footer-soc,
  .footer-logo {
    align-items: flex-start;
  }

  .footer-form {
    align-items: flex-start;
  }

  .footer-modal-input {
    width: 264px;
  }

  .footer-input-form {
    flex-direction: row;
    gap: 24px;
  }

  /* --------------- BACKDROP --------------- */

  .modal {
    width: 408px;
    padding: 72px 24px 24px;
  }
}
